.searchBanner{
    img{
        width: 100%;
        height: auto;
    }
    .carousel-caption{
        left: 15%;
        right: inherit;
        width: 400px;
        text-align: left;
        bottom: inherit;
        top: 30%;
        h5{color: #000;  font-size: 24px;}
        p{
            color: #545454;
            font-size: 18px;
        }
    }
}