@import "./color.module.scss";

body{margin: 0;}
::selection {
  color: $white-100;
  background-color: $primary-color;
}
::-moz-selection {
  color: $white-100;
  background-color: $primary-color;
}
a,
.transiction-effect {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.topHeader .folowUs {
  float: left;
  width: 50%;
  margin: 0;
}
.topHeader .folowUs ul {
  float: left;
  padding: 0;
  margin-bottom: 0;
}
.topHeader .folowUs ul li a {
  color: $white-100 !important;
  font-size: 13px;
  line-height: 12px;
  font-weight: bold;
  margin: 4px 0;
}
.topHeader .folowUs ul li a:active, .topHeader .folowUs ul li a:focus{color: $white-100 !important;}
.topHeader .folowUs ul li a:hover {
  color: $black-100 !important;
}
.topHeader .dropShipMenu {
  float: right;
  width: 50%;
}
.folowUs.dropShipMenu ul {
  float: right;
  padding: 0;
}
.carousel.slide .carousel-inner a img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
header {
  position: fixed;
  top: 0;
  float: left;
  width: 100%;
  z-index: 9999;
}

.title{
  color:  $primary-color
}
.featureTitle{
  display: flex;
  text-align: center;
  flex-direction: column;
}
.bodyWrapper{margin-top: 70px;}
h1.title_first{
  font-size: 24px;
  margin: 0 0 25px;
  color: $grey-green;
}
.propertyDetails_Box{
  float: left;
  width: 100%;
}
.titleDetails_proptech{
  h1{
    font-size: 26px;
    color: $grey-green;
    margin: 0 0 5px;
    font-weight: 600;
  }
  h2{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    }
}
.addressWrapper{
  margin-bottom: 5px;
  p{
    margin-bottom: 5px;
  }
}
.cmsContaier{
  h2{
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0 15px;
  }
  p{
    width: 100% !important;
    margin: 0;
    margin-bottom: 20px !important;
    font-size: 16px;
    text-align: left !important;
  }
}
p.proptechTerms{
  margin: 10px 0 0;
  text-align: center;
  font-size: 13px;
  a{
    color: $grey-green;
  }
}
.detailsContent_proptech{
  padding-right: 20px;
}
.rightContent_property{
  .FeaturesProperty, .prop_Features{
    float: left;
    width: 100%;
    h4{
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }
  }
  .FeaturesProperty {
    ul li{
      float: left;
      width: 50%;
      padding-right: 25px;
      margin-bottom: 6px;
      label{
        display: flex;
        justify-content: space-between;
        color: #9f9f9f;
        font-size: 15px;
        font-weight: 600;
        span{
          color: #22536e;
        }
      }
    }
  }
  .facilitiesBox{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    span{
      color: #9f9f9f;
      float: left;
      width: 145px;
      font-size: 15px;
    }
    .facilitieslist{
      float: left;
      width: calc(100% - 150px);
      padding-left: 20px;
      p{
        color: #22536e;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
}
